#club-casa{
	padding-top: 100px;
}
.club-info{
	text-align: center;
	padding: 0px 20px;
	h2{
		color: #A18A49;
		font-size: 30px;
		font-family: 'Gotham';
		font-weight: bold;
		text-align: center;
		margin:15px 60px;
		@media screen and (max-width: 767px) {
			font-size: 20px;
		}
	}
	.bajada{
		color: #898989;
		font-size: 25px;
		font-family: 'Adobe Caslon Pro';
		font-style: italic;
		@media screen and (max-width: 767px) {
			font-size: 20px;
		}
	}
	p{
		color: #383838;
		font-size: 18px;
		font-family: 'Gotham';
		font-weight: 300;
		margin: 25px 0px 50px;
		@media screen and (max-width: 767px) {
			font-size: 14px;
		}
	}
	.btn-black{
		margin-bottom: 20px;
	}
}
.imagen-club{
	width: 80%;
	margin-top: 20px;
	float: right;
	position: relative;
	@media screen and (max-width: 767px) {
		display: none;
	}
	&:before{
		content:'';
		display: block;
		width: 100%;
		height: 100%;
		border:1px solid #979797;
		position:absolute;
		left:-10px;
		top:-15px;
		z-index: 99;
	}
	img{
		z-index: 140;
		position: relative;
	}
}
.inlines{
	display: block;
	height: 43px;
	padding-top: 10px;
	input{
		display: none;
		&:checked+label{
			text-decoration: underline;
			font-weight: bold;
			background-image: url(../images/radio-checked.png);
		}
	}
	label{
		padding-left: 20px;
		color: #1A1A1A;
		font-size: 16px;
		margin-top: 0px;
		margin-right: 15px;
		background-image: url(../images/radio.png);
		background-repeat: no-repeat;
		background-position: left center;
	}
}